.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  color: white;
}

.Messages {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border: solid grey 1px;
  width: 60vw;
  height: 70vh;
  overflow: auto;
}
.Message {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  /* height: 50px; */
  border-top: solid 1px lightblue;
}

.Message > p > span {
  color: #ff0000;
}

.Message > p .You {
  color: #00ff00;
}

.Message > p > .BOT {
  color: gray;
}

.time {
  font-size: 10px;
}
.Message p {
  margin: 3px;
}
.chatInput {
  width: 100%;
  margin: 0;
  padding: 0;
}
